<?php
$vms = array(
    "debian x64" => array(
        "name" => "Debian x64",
        "vncport" => 5902,
        "type" => "linux",
        "dataset" => "rpool/VMs/Debian_x64",
        "autostart" => true,
    ),
    "win7 x64" => array(
        "name" => "Win7 x64",
        "vncport" => 5901,
        "type" => "windows",
        "dataset" => "rpool/VMs/Win7_x64",
        "autostart" => true,
    ),
    "ubuntu x64" => array(
        "name" => "Ubuntu x64",
        "vncport" => 5903,
        "type" => "linux",
        "dataset" => "rpool/VMs/Ubuntu_x64",
    ),
    "ubuntu 10.04 x86" => array(
        "name" => "Ubuntu 10.04 x86",
        "vncport" => 5904,
        "type" => "linux",
        "dataset" => "rpool/VMs/Ubuntu_10.04_x86",
    ),
);
