<?php
$vms = array(
    "debian x64" => array(
        "name" => "Debian x64",
        "vncport" => 5902,
        "type" => "linux",
    ),
    "win7 x64" => array(
        "name" => "Win7 x64",
        "vncport" => 5901,
        "type" => "windows",
    ),
);
